[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=foreveralone
Exec=/usr/bin/invoker --type=e -s /opt/linfati.com/bin/foreveralone
Icon=/usr/share/icons/hicolor/80x80/apps/foreveralone80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
